body {
  background-color: powderblue;
}



#introparagraph {
  font-size: 20px;
  font-weight: normal;
}

img {
  width: 20%;
  height: 150px;;
}

.names {
  font-weight: normal;
}


#ed {
  width:300px;
  height:200px;
}

.circle:hover
{
        border-radius:50%;
}
.iframe {
  text-align: center;
}

button {
  font-size: 20px;
}